<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132599526534-h3bbpljg447e4to4qp6osaf49r4unqg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132599526534-h3bbpljg447e4to4qp6osaf49r4unqg2</string>
	<key>API_KEY</key>
	<string>AIzaSyDr2dwox1VgqfayLvnfuuWPms438x83FlY</string>
	<key>GCM_SENDER_ID</key>
	<string>132599526534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aybatu.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-8b344</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-8b344.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132599526534:ios:6f897aff3781ba13584d07</string>
</dict>
</plist>